<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Get Info</title>
  </head>
  <body>

    <h1>Get the information that you want.</h1>
    <ul>
      <li><a href="/">Get Info</a></li>
      <li><a href="/forms">Forms</a></li>
      <li><a href="/geolocation">Geolocation</a></li>
      <li><a href="/visit">Health Care Visit</a></li>
      <li><a href="/doctor">Doctors</a></li>   
    </ul>
<hr>

    
    <form action="/" method="post">

    <h1>What do you want to know?</h1>

    <h2>{{title}}{{data2.count}}</h2>

    <button type="Submit" class="button" id = "button" name="button" height = "25" onclick="alert('Finding the Patient')">Patient-Search</button>

    <button type="Submit" class="button2" id = "button2" name="button2" height = "25" onclick="alert('Counting the people')">Count the people above 20 with Covid</button>

    <button type="Submit" class="button3" id = "button3" name="button3" height = "25" onclick="alert('Your form was submitted')">Count the people with Sypmtoms</button>


    </form>
</body>
</html>
