<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Doctor</title>
  </head>
  <body>

    <h1>Doctors</h1>
    <ul>
      <li><a href="/">Get Info</a></li>
      <li><a href="/forms">Forms</a></li>
      <li><a href="/geolocation">Geolocation</a></li>
      <li><a href="/visit">Health Care Visit</a></li>
      <li><a href="/doctor">Doctors</a></li>
      
    </ul>
<hr>

<form action="/doctor" method="post">

<h1>Enter the name of the doctor.</h1>

  <h3>Name of the doctor:  <input type="text" name = "name" placeholder="Name" maxlength="25"></h3>
  <h3>Speciality of the doctor:  <input type="text" name = "speciality" placeholder="Speciality" maxlength="25"></h3>
  
  
  <hr> 
  <button type="Submit" class="button" id = "button" name="button" height = "25" onclick="alert('Your form was submitted')">Submit</button>


<br>
<br>

</form>
  </body>
</html>
