<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <script type="text/javascript" src="../Javascript/forms.js"></script> -->
    <title>Forms</title>
  </head>
  <body>
    <h1>Person</h1>
    <nav>
        <ul>
          <li><a href="/">Get Info</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/geolocation">Geolocation</a></li>
          <li><a href="/visit">Health Care Visit</a></li>
          <li><a href="/doctor">Doctors</a></li>
          
        </ul>
    </nav>
<hr>


<form action="/forms" method="post">


<h1>Input person's information</h1>

    
   <h3>First Name:  <input type="text" name = "name" placeholder="First Name" maxlength="20" required></h3>
      

    <h3>Age:  <input type="number" name = "age" placeholder="Age" required></h3>
  

    <h3>Race:   <input list="race" name = "race" placeholder="--Select--">
      <datalist id="race">
      <option value="Asian">
      <option value="Black or African American">
      <option value="White">
      <option value="American Indian or Alaska Native">
      <option value="White">
      <option value="Other">
      </datalist></h3>
   

    <h3>Ethnicities:  <input list="ethnicities" name ="ethnicity" placeholder="--Select--">
      <datalist id="ethnicities">
      <option value="American">
      <option value="Latino">
      <option value="Black or African American">
      <option value="German">
      <option value="English">
      <option value="Other">
      </datalist></h3>
   

    <h3>Gender  <input list="gender" name = "gender" placeholder="--Select--">
      <datalist id="gender">
      <option value="Male">
      <option value="Female">
      <option value="Other"></h3>
   
    <h3>Martial Status  <input list="m-status" name = "martialStatus" placeholder="--Select--">
      <datalist id="m-status">
      <option value="Single">
      <option value="Married">
      <option value="Divorced">  
      <option value="Other"></h3>


    <h3>Income:  <input type="number" name = "income" placeholder="Income"></h3>    

    <h3>Education  <input list="education" name = "education" placeholder="--Select--">
      <datalist id="education">
      <option value="High School">
      <option value="Associate Degree">  
      <option value="Bachelor's">
      <option value="Masters">
      <option value="Doctorate">   
      <option value="Other"></h3>


    <h3>Employment Status   <input list="e-status" name = "employmentStatus" placeholder="--Select--">
      <datalist id="e-status">
      <option value="Employed">
      <option value="Unemployed">     
      <option value="Other"></h3>  
        
        

  
<!-- 
  <h2>Time of submission</h2>
  <input type="datetime-local" id="timeofsub" name="timeofsub">
  <br> -->
<hr> 

<button type="submit" class="button" id = "button" name="button" height = "25" onclick="alert('Your form was submitted')">Submit</button>
</form>


  </body>
</html>
