<!DOCTYPE html>


<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Geolocation</title>
  </head>
  <body>
    <h1>Locate that person using geolocation.</h1>
    <nav>
        <ul>
          <li><a href="/">Get Info</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/geolocation">Geolocation</a></li>
          <li><a href="/visit">Health Care Visit</a></li>
          <li><a href="/doctor">Doctors</a></li>
          
        </ul>
    </nav>
<hr>

<form action="/geolocation" method="post">

<h1>Enter the necessary information:</h1>

<h3>PersonID:  <input type="number" name = "personID" placeholder="PersonID" ></h3>

<h3>Date and Time:  <input type="datetime-local" name = "dateTime"></h3>

<h3>Latitude:  <input type="text" name = "latitude" placeholder="Latitude" required></h3>

<h3>Longitude:  <input type="text" name = "longitude" placeholder="Longitude" required></h3>

<hr> 
<button type="Submit" class="button" id = "button" name="button" height = "25" onclick="alert('Your form was submitted')">Submit</button>

</form>
  </body>
  </html>