<!DOCTYPE html>
<!-- Nombre de Estudiante: Eliud Perez
Numero de Estudiante: Y00522390
Curso: COMP-2025 - Desarrollo de Páginas Web
Lab 2 - Página Web con iframes.
Fecha de Entrega:
Descripción: Este programa crea una página web con el lenguaje de programación HTML
información de los datos personales del estudiante (resume). -->

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>iFrames y videos</title>
  </head>
  <body>
    <h1>iFrames Example Page</h1>
    <nav>
        <ul>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/geolocation">Geolocation</a></li>
          <li><a href="/visit">Health Care Visit</a></li>
          <li><a href="/doctor">Doctors</a></li>
        </ul>
    </nav>
<hr>
<br>

<iframe width="850" height="500" src="https://www.youtube.com/embed/1dV30tOu6vM" frameborder="0" allow="accelerometer; autoplay; encrypted-media;
gyroscope; picture-in-picture" allowfullscreen></iframe>


<iframe width="850" height="500" src="https://www.youtube.com/embed/cnnK6CIzPzU" frameborder="0" allow="accelerometer; autoplay;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<pre>In this two videos we can see the two sides of the same coin.On the left we can see an educational video</pre>
<pre>with the specs of the new iPhones and in the other we can see a parody of the new iPhones.</pre>
<br>

<hr>

<br>
<br>


<br><br>

<table style="width:100%">
<tr>
  <th>
      <a href="https://www.apple.com/">
      <img src="../public/images/Applee.png" alt="Apple logo" width="400" height="300">
      </a>
  </th>

  <th>
    <a href="https://www.youtube.com/">
    <img src="../public/images/Youtube.png" alt="Youtube logo" width="400" height="300">
    </a>

  </th>

  <th>
    <a href="https://github.com/">
    <img src="../public/images/Octocat.png" alt="Github logo" width="300" height="300">
    </a>

  </th>
</tr>

</table>
<br>
<hr>

<h6>COMP 2025 Eliud Perez</h6>

  </body>
</html>
