<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Health Care</title>
  </head>
  <body>
      <h1>Health Care Visit</h1>
      <ul>
        <li><a href="/">Get Info</a></li>
        <li><a href="/forms">Forms</a></li>
        <li><a href="/geolocation">Geolocation</a></li>
        <li><a href="/visit">Health Care Visit</a></li>
        <li><a href="/doctor">Doctors</a></li>
        
      </ul>
  <hr>
  <br>

  <form action="/visit" method="post">

<h1>Enter the following information:</h1>

<h2>The following information must be known.</h2>

  <h3>PersonID:  <input type="number" name = "personID" placeholder="PersonID" ></h3>
      

  <h3>DoctorID:  <input type="number" name = "doctorID" placeholder="DoctorID" ></h3>

  <h3>Date and Time:  <input type="datetime-local" name = "dateTime"></h3>

  <h3>Medice:  <input type="text" name = "medicine" placeholder="What medicine?" maxlength="20" ></h3>

  <h3>Quantity:  <input type="number" name = "quantity" placeholder="How much medicine?" ></h3>


<hr>
<button type="submit" class="button" id = "button" name="button" height = "25" onclick="alert('Your form was submitted')">Submit</button>

 
  </form>

  </body>
</html>
